##
# Blesta Container Variables
###


# MySQL Settings, These can be deleted if you don't use the mysql service within docker-compose.yml
MYSQL_ROOT_PASSWORD=apassword
MYSQL_DATABASE=blesta
MYSQL_USER=blestadb
MYSQL_PASSWORD=blestadbpass

##
# Container Variables
##

SSL=false
SSL_CERT="/etc/certs/cert.pem"
SSL_CERT_KEY="/etc/certs/cert.key"

# Disable's runtime workers & cronjob (this is useful if you want to run these in another container)
DISABLE_WORKERS=false

TIMEZONE=UTC

DOCKER_ROOT=/var/lib/docker
DOCKER_SOCKET=/var/run/docker.sock